.footer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-black);
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer__icon {
    color: var(--color-gray);
    width: 30px;
    height: 30px;
}

.footer__icon--active {
    color: var(--color-white);
    width: 30px;
    height: 30px;
}