:root {
    --color-white: #c0caf5;
    --color-light-gray: #9aa5ce;
    --color-middle-gray: #565f89;
    --color-gray: #414868;
    --color-dark-gray: #24283b;
    --color-black: #1a1b26;
    --color-red: #f7768e;
    --color-orange: #ff9e64;
    --color-yellow: #e0af68;
    --color-green: #9ece6a;
    --color-ice: #73daca;
    --color-turquoise: #2ac3de;
    --color-ice: #7dcfff;
    --color-purple: #bb9af7;
}

@font-face {
    font-family: 'Hubot Sans';
    src:
      url('Hubot-Sans.woff2') format('woff2 supports variations'),
      url('Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

html {
    font-family: 'Hubot Sans';
}

body {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 0;
    margin: 0;
    font-weight: 400;
}

main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    font-stretch: extra-expanded;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.nav-bar {
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    height: 80px;
}

.main_container {
    width: 375px;
    height: auto;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 45px #000;
}

.card_container {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 2rem;
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

article {
    background-color: var(--color-gray);
    width: 80%;
    padding: 1.6rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #000;
    text-align: center;
    gap: 2rem;
}

footer {
    background-color: var(--color-black);
    height: 60px;
    width: 100%;
}

.footer-list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-list ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.question {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.8rem;
}

.btn_answer {
    width: fit-content;
    padding: 0.6rem 1.4rem;
}

button {
    font-weight: 900;
    font-stretch: ultra-expanded;
    text-transform: uppercase;
    background-color: var(--color-ice);
    border: none;
    color: var(--color-black)
}

.tag_list {
    display: flex;
    padding: 0rem 0.6rem;
    gap: 0.5rem;
    
}

article ul li {
    background-color: var(--color-dark-gray);
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
}

.footer-icon {
    color: var(--color-red);
    width: 30px;
    height: 30px;
}